
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
}
#value {
  font-size: 6rem;
  font-weight: bold;
}

h1{
  font-size: 3rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all 0.3s linear;;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding:10px;
  
}

.btn:hover {
  color: #fff;
  background: #222;
}